h1, h2, h3, div, p, html, body {
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
}

h1 {
    margin-bottom: 10px;
}

h1, h2 {
    text-align: center;
    color: chartreuse;
}

canvas {
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 130px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
}

#title {
    margin-top: 5px;
}